<div class="content_row">
  <p>カテゴリーを増やそう</p>
      <br>
  
  <div class="container">
    <%= form_for @tool do |f| %>
      <div class="field">
    
        <%= f.label :name, "カテゴリー名" %>
        <%= f.text_field :name%>
      
      </div>
  



   <div class="actions">
    <%= f.submit %>
   </div>
    <% end %>
  </div>
</div>

