<div class="contents row">

  <h2>twitterアカウントでログイン・投稿できるようにする</h2>
  <%= link_to "twitterアカウントでログイン", user_twitter_omniauth_authorize_path, class: 'post' %>
  
  <2>トップページに戻る</2>
  <%= link_to "トップページにもどる", root_path %>
                  

</div>
