<img src="http://pilgrim-guild.com/wp-content/uploads/2016/11/baby-1151351_1920.jpg" 
alt="baby-1151351_1920" width="500" height="400" class="img-responsive thumbnail aligncenter size-full wp-image-425" 
data-toggle="modal" data-target="#image-modal" style="cursor:pointer" />  //classでレスポンシブ対応やらサムネイルやら指定している
 
<div class="modal fade" id="image-modal">
<div class="modal-dialog modal-lg modal-middle"> //モーダルウィンドウの縦表示位置を調整・画像を大きく見せる

 
<div class="modal-body">
<img src="http://pilgrim-guild.com/wp-content/uploads/2016/11/baby-1151351_1920.jpg" 
alt="baby-1151351_1920" width="1000" height="800" class="aligncenter size-full wp-image-425" />
</div>

<div class="modal-img_footer">
<button type="button" class="btn btn-success" data-dismiss="modal">Close</button> //ボタンを取り付け
 
</div>
</div>
