
    
    
    <ul class="nav">

      <li><a href="#">投稿を並び替えする</a>
        <ul>
          <li><a href="/">投稿が新しい順</a></li>
          <li><a href="/ascendant">投稿が古い順</a></li>
          <li><a href="/ranking">いいね！ランキング順</a></li>
          
        </ul>
      </li>
    </ul>
    
    <span>　　カテゴリ：全て</span>

   
   <%= render partial: "posts" %>
    



   <%#= paginate(@posts) %>