$accent: #57C3E9;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;
$mizuiro: #6699cc;



body {
//   padding-top: 60px;
}

h1,h2,h3,h4,h5,h6,body {
line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: $dark;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark;
  @extend .transition;
  &:hover {
    color: $accent;
  }
  }
  




header.header {
    background-color: #fff;
    border-bottom: 1px solid $gray;
    height: 300px;
    background-image: url("");
    background-size: cover;
    
    
    
        img.title{
          margin: 0,auto;
        }

    
    div.header__bar {
      
        
      
          &:after {
            content: " ";
            display: block;
            height: 50px;
          }
          
        h1.grid-6 {
            font-size: 60px;
            line-height: 60px;
            font-family: KG Happy;
            

        a.post {
          @extend .btn;
          width: 120px;
          display: inline-left;
          margin-left: 10px;
        }
        }
        

    
   
      }
    
}

#user{
      float: right;

   div.user_nav {
      // height: 100px;
      // position: absolute;
      // right: 45px;
        span {
          top: 5px;
          display: block;
          float: right;
          margin-left: 60px;
          width: 100%;
          height: 200px;
          font-size: 1em;
          cursor: pointer;
          position: relative;
          &:after {
            content: '▼';
            font-size: 1.5em;
            margin-left: 20px;
          }
          &:hover ul {
            color: $accent;
            display: block;
          }
        
      ul {
        display: none;
        position: absolute;
        top: 46px;
        right: 0;
        width: 200px;
        // border-left: 1px solid #d8d8d8;
        // border-right: 1px solid #d8d8d8;
        // box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
        &:hover{
          display: block;
        }
    
        li {
          background-color: #f0f0f0;
          a {
            display: block;
            padding: 10px 20px;
            text-align: left;
            border-bottom: 1px solid #d8d8d8;
          }
        }
      }
      }
   }
}

 .user_image {
          // float: right;
          width: 90px;
          height: 90px;
          overflow: hidden;
          border-radius: 90px;
          border-color: $mizuiro;
          border-width: 3px;
          margin:0 auto;
          
        }
        

 
 .poster_image {
          float:left;
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 60px;
          border-color: $mizuiro;
          border-width: 3px;
          
        }
        
 .your_icon_image{
        
            width:auto;
            height:auto;
            max-width:100%;
            max-height:100%;
            
        }

 .anonimous_image{
               width:auto;
            height:auto;
            max-width:100%;
            max-height:100%;
 }




// 左のカテゴリのCSS

#menu {
  float: left;
  display: block;
    
}


#container {
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}

.treemenu {
  float: right;
  width: 256px;
  border-right: 1px solid #ccc;
}
/*階層1*/
.treemenu .lv1btn {
  cursor: pointer;
  font-size:20px;
  padding: 5px 10px;
  color: $mizuiro;
  &:hover{
    color:$black;
  }
  
}
.treemenu .lv1body {
  display: none;
  padding: 0 10px 5px 10px;
}
.treemenu .lv1body a {
  line-height: 2.0;
}
/*階層2*/
.treemenu .lv1body .lv2btn {
  cursor: pointer;
  padding: 5px 10px 5px 0;
  
}
.treemenu .lv1body .lv2body {
  display: none;
  padding: 0 10px 5px 10px;
  
}
.treemenu .lv1body .lv2body a {
  line-height: 2.0;
}




//
















#index {
  float: left;
  
}


#oyabody{
  margin: 20px;

}

.clearfix:after {
  clear : both;
  content: "";
  display: block;
  
}




.post_head_foot{
  background-color: #f0fff0;
  padding: 10px;
  border-radius: 15px;
  
  h2.title{
    border-radius: 15px;
    background-color: #FFEEFF;
  }
  
  :after{
    clear:both;
    content:"";
    display:block;
  }
}

.render_post {
    margin: 0px 50px 30px;
    padding: 30px;
    border-width: 1;
    border-color: $mizuiro;
    border-style: solid;
    border-radius: 10px;
    width: 800px;
    h3 {
      font-size: 20px;
    }
}


#posts_title{
  font-size: 24px;
}



.like-button_already{
      width: 55px;
      height: 55px;
      background: url("/uploads/tmp/iineicon.png") left top no-repeat;
}


.like-button_yet{
      width: 55px;
      height: 55px;
      background: url("/uploads/tmp/iineicon_notyet.png") left top no-repeat;
}


textarea{
  height:150px;
}


.comments{
  
}

#comment{ 
  // clear: both;
  
  
}

footer {
  clear: both;
  
}

#test{
  height: 1000px;
  width: 1200px;
  background-image: url("images/topimages/test.jpg");
  

}




// ユーザーページのユーザー情報について

.contentsrow{
 
   p.fukidashi{
     position: relative;
	display: inline-block;
 	margin: 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #e0edff;
	border-radius: 15px;
   }
  
   p.fukidashi:before{
	content: "";
	position: absolute;
	top: -30px;
	left: 50%;
 	margin-left: -15px;
	border: 15px solid transparent;
	border-bottom: 15px solid #e0edff;
   
     
   } 
}



