$accent: #57C3E9;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;
$mizuiro: #6699cc;
$usumidori: #CCFFFF;
$hadairo: #FFFFCC;
$kiiro: #FFFF66;
$umiiro: #CCCCFF;
$nezumi: #EEEEEE;
$pink: #FFD5EC;





body {
//   padding-top: 60px;
}

h1,h2,h3,h4,h5,h6,body {
line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: $dark;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark;
  @extend .transition;
  &:hover {
    color: $accent;
  }
  }
  




header.header {
    background-color: #fff;
    border-bottom: 1px solid $gray;
    height: 300px;
    background-image: url("");
    background-size: cover;
    width: 100%;
    
    
    
        img.title{
          margin: 0,auto;
        }

    
    div.header__bar {git
        
      
          &:after {
            content: " ";
            display: block;
            height: 50px;
          }
          
        h1.grid-6 {
            font-size: 60px;
            line-height: 60px;
            font-family: KG Happy;
            

        a.post {
          @extend .btn;
          width: 120px;
          display: inline-left;
          margin-left: 10px;
        }
        }
        

    
   
      }
    
}



// レスポンシブなデザインにするよ

#user_recentcomment{
 float: right;
}


 #user{

    padding: 20px;
    height: 150px;
   
    margin: auto;
    width: 200px;
   
}





 /*　画面サイズが750pxから1460pxまではここを読み込む　*/
@media screen and (min-width: 751px) and (max-width: 1460px){
   
    
header{
  width: 1560px!important;
}
    
    
    
    #user_recentcomment{
  position: absolute;
  top: 300px; left: 1200px;
}

 #user{
    padding: 20px;
    height: 150px;
    margin: auto;
    width: 200px;
    
   
}




}


 /*　画面サイズが750pxまではここを読み込む　*/
@media screen and (max-width: 750px){
  
 
#iinerank_recentcom{
   margin: 200px 0px 0px 0px !important;
}
 
#iinerank{
   margin: auto;
   padding: 10px 10px 10px 10px ;
    border-width: 0.5;
    border-color: #bbb;
    border-style: solid;
    border-radius: 10px;
    width: 350px;

}

.treemenu {
  float: left !important;
  width: 256px;
  margin-left: 200px !important;
  // border-right: 1px solid #ccc;
}


header{
  width: 780px!important;
}

img.title{
    width: 80%!important;
   
        }
    
#user_recentcomment{
  
  float: none!important;
  position: static!important;
  display: block;
  margin: auto!important;
  width: 100%!important;

}

 #user{
    padding: 20px;
    height: 150px;
    margin: auto;
    width: 200px;
    margin: auto!important;
   
}
#recent_comments{
  
  display: none;
}

#menu {
  
  height: auto!important;
  display: block;
  margin: auto!important;
  width: 100%!important;
  
  h2{
    text-align: center!important;
  }
    
}

#index{
  position: static!important;
  margin: auto!important;
  width: 100%!important;
}

.render_post {
    margin: auto!important;
    padding: 15px 15px 15px 15px !important;
    border-width: 1;
    border-color: $mizuiro;
    border-style: solid;
    border-radius: 10px;
    width: 430px!important;
    h3 {
      font-size: 20px;
    }
    
    p.subtitle{
      margin: 10px 0px;
      font-size: 200%;
      border-bottom: 1px solid #ddd;
    }
    
    p.content{
      margin: 50px 0px;
    }
    
    
}

}





  #user div.user_nav {
      // height: 100px;
      // position: absolute;
      // right: 45px;
      float:right;
     
      
        span {
          top: 5px;
          display: block;
          float: right;
          margin-left: 60px;
          width: 100%;
          height: 100px;
          font-size: 1em;
          cursor: pointer;
          position: relative;
          p {
            float:right;
            font-size: 1.5em;
            margin-left: 20px;
          }
          &:hover ul {
            color: $accent;
            display: block;
          }
        
      ul {
        display: none;
        position: absolute;
        top: 46px;
        right: 0;
        width: 200px;
       
        &:hover{
          display: block;
        }
    
        li {
          background-color: #f0f0f0;
          a {
            display: block;
            padding: 10px 20px;
            text-align: left;
            border-bottom: 1px solid #d8d8d8;
          }
        }
      }
      }
   }





 .user_image {
          margin-left:auto;
          width: 90px;
          height: 90px;
          overflow: hidden;
          border-radius: 90px;
          border-color: $mizuiro;
          border-width: 3px;
       
          
        }
        
  .div_your_icon_image {
          margin-left:auto;
          width: 200px;
          height: 200px;
          overflow: hidden;
          border-radius: 200px;
          border-color: $mizuiro;
          border-width: 3px;
          margin: auto;
       
          
        }      
  
        

 
 .poster_image {
          float:left;
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 60px;
          border-color: $mizuiro;
          border-width: 3px;
          
        }
        
  .poster_image2 {
          float:right;
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 60px;
          border-color: $mizuiro;
          border-width: 3px;
          display: inline;
          
        }
        
 .your_icon_image{
        
            width:auto;
            height:auto;
            max-width:100%;
            max-height:100%;
            
        }

 .anonimous_image{
               width:auto;
            height:auto;
            max-width:100%;
            max-height:100%;
 }
 
 .commenter_image {
          
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 60px;
          border-color: $mizuiro;
          border-width: 3px;
          
        }
        
  .midokukome{
            width: 45px;
            height: 45px;
            max-width:100%;
            max-height:100%;
    
  }




// 左のカテゴリのCSS

#menu {
  float: left;
  display: block;
  margin: 0  0;
  
  width: 270px;
    
}


#container {
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}


.category_color1{
  background-color: $pink;
}

.category_color2{
  background-color: $nezumi;
}

.category_color3{
  background-color: $usumidori;

}

.category_color4{
  background-color:$hadairo;

}

.category_color5{
  background-color:$kiiro;

}

.category_color6{
  background-color:$umiiro;

}

.category_color7{
  background-color:$nezumi;

}

.category_color8{
  background-color:$pink;
}









.treemenu {
  float: right;
  width: 256px;
  // border-right: 1px solid #ccc;
}
/*階層1*/
.treemenu .lv1btn {
  cursor: pointer;
  font-size:20px;
  padding: 5px 10px;
  color: $mizuiro;
  &:hover{
    color:$black;
  }
  
}
.treemenu .lv1body {
  display: none;
  padding: 0 10px 5px 10px;
}
.treemenu .lv1body a {
  line-height: 2.0;
}
/*階層2*/
.treemenu .lv1body .lv2btn {
  cursor: pointer;
  padding: 5px 10px 5px 0;
  margin-left: 20px;
  
}
.treemenu .lv1body .lv2body {
  display: none;
  padding: 0 10px 5px 10px;
  
}
.treemenu .lv1body .lv2body a {
  line-height: 2.0;
}




//












#index{
  float: left;
  width: 50%;
  // position: absolute;
  // top: 300px; left: 250px;
}





.oyabody{
  margin: 20px;

}


// クリアフィックス

.clearfix:after {
  clear : both;
  content: "";
  display: block;
  
}

#clearfix:after {
  clear : both;
  content: "";
  display: block;
  
}




.post_head_foot{
  background-color: #D9E5FF;
  padding: 10px;
  border-radius: 15px;
  
  
  h2.title{
    border-radius: 15px;
    background-color: #FFEEFF;
  }
  
  :after{
    clear:both;
    content:"";
    display:block;
  }
}

.render_post {
    margin: 0px 50px 30px;
    padding: 15px 30px 15px 30px ;
    border-width: 1;
    border-color: $mizuiro;
    border-style: solid;
    border-radius: 10px;
    width: 800px;
    h3 {
      font-size: 20px;
    }
    
    p.subtitle{
      margin: 10px 0px;
      font-size: 200%;
      border-bottom: 1px solid #ddd;
    }
    
     p.content{
      margin: 50px 0px;
    }
    
    
}


#posts_title{
  font-size: 24px;
}

#posts_title2{
  font-size: 18px;
}









// ユーザーページのユーザー情報について


 
 //ここから吹き出し
   .introduction_and_recentcomment {
 position: relative;
	display: inline-block;
 	margin: 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #FFF;
 	border: solid 3px #555;
 	box-sizing: border-box;
 	width: 100%;
 	height: 100%;
 	
   }


.introduction_and_recentcomment:before{
	content: "";
	position: absolute;
	top:  -24px;
	left: 20%;
 	margin-left: -15px;
	border: 12px solid transparent;
	border-bottom: 12px solid #FFF;
	z-index: 2;
 	
}
.introduction_and_recentcomment:after{
	content: "";
	position: absolute;
	top: -30px;
	left: 20%;
 	margin-left: -17px;
	border: 14px solid transparent;
	border-bottom: 14px solid #555;
 	z-index: 1;
}

.introduction_and_recentcomment p{
  margin: 0;
  padding: 0;
 	
}



//ここまで吹き出し



.mannnaka{
  text-align:center;
  line-height: 15px;
  font-size: 20px;
}



// post#showページ

.comment_container{
  width: 900px;
   margin: 0px 50px 30px;
    padding: 30px;
}

.comment{
   clear: both;

}


.comment_others {
  clear: both;
  float: right;
}

.mypage_comment_container{
  
}


.like-button_already{
                 
      width: 55px;
      height: 55px;
      background: url("/images/iine_icon.jpeg") left top no-repeat;
}


.like-button_yet{
     
      width: 55px;
      height: 55px;
      background: url("/images/iine_icon_notyet.jpeg") left top no-repeat;
}


textarea{
  height:150px;
}


.mypage_comments{
  height: 300px;
  width: 100%;
  overflow: scroll;
  
}





footer {
  clear:both

}



// 並び替えドロップダウンメニュー
.nav {
  width: 750px;
  height: 40px;
  margin-left: 50px;
  padding: 0;
  display: flex;
}
.nav li {
  position: relative;
  list-style: none;
}
.nav li a {
  display: block;
  width: 300px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  background: #9fb7d4;
  transition: 0.5s;
  text-decoration: none;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.nav > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
.nav > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
}
.nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
  transition: 0.2s;
}
.nav li ul li a {
  border-top: 1px solid #eee;
}
.nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
}








.modal-lg-extend {
    width: 1200px;
}



  // 最近コメントのあった投稿


#iinerank_recentcom{
   margin: 200px 0px;
}

#iinerank{
    padding: 10px 10px 10px 10px ;
    border-width: 0.5;
    border-color: #bbb;
    border-style: solid;
    border-radius: 10px;
    width: 350px;
}

#recent_comments{
  
    
    padding: 10px 10px 10px 10px ;
    border-width: 0.5;
    border-color: #bbb;
    border-style: solid;
    border-radius: 10px;
    width: 350px;
    

  
}


  
.recent_comment{
  
  margin: 50px 0px;
    
   
      ::after{
      display:block;
      content: "";
    }
}


.recent_comment_poster_image {
          float:left;
          width: 45px;
          height: 45px;
          overflow: hidden;
          border-radius: 45px;
          border-color: $mizuiro;
          border-width: 2px;
          
        }


.recent_comment_icon_image, .recent_comment_anonimous_image {
          
          width: 45px;
          height: 45px;
          overflow: hidden;
          border-radius: 100px;
          border-color: $mizuiro;
          border-width: 3px;
          margin: auto;
       
          
        }      
  
.content_row{
  margin: 0px 0px 100px 0px;
}





.twitter{
  margin: auto ;
}


