$accent: #57C3E9;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;
$mizuiro: #6699cc;



body {
//   padding-top: 60px;
}

h1,h2,h3,h4,h5,h6,body {
line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: $dark;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark;
  @extend .transition;
  &:hover {
    color: $accent;
  }
  }
  




header.header {
    background-color: #fff;
    border-bottom: 1px solid $gray;
    height: 300px;
    background-image: url("");
    background-size: cover;
    
    
    
        img.title{
          margin: 0,auto;
        }

    
    div.header__bar {git
        
      
          &:after {
            content: " ";
            display: block;
            height: 50px;
          }
          
        h1.grid-6 {
            font-size: 60px;
            line-height: 60px;
            font-family: KG Happy;
            

        a.post {
          @extend .btn;
          width: 120px;
          display: inline-left;
          margin-left: 10px;
        }
        }
        

    
   
      }
    
}



// レスポンシブなデザインにするよ


// @media (min-width: 1351){
//   #user{
//     width: 100px;
//     height: 150px;
//     float: right;
  
//   }
// }

 #user{
    height: 150px;
    float: right;
    margin: auto;
    width: 200px;
    // &:after{

    // content:"";
    // display:block;
  
  // }
  // }
}


  #user div.user_nav {
      // height: 100px;
      // position: absolute;
      // right: 45px;
      float:right;
     
      
        span {
          top: 5px;
          display: block;
          float: right;
          margin-left: 60px;
          width: 100%;
          height: 200px;
          font-size: 1em;
          cursor: pointer;
          position: relative;
          p {
            float:right;
            font-size: 1.5em;
            margin-left: 20px;
          }
          &:hover ul {
            color: $accent;
            display: block;
          }
        
      ul {
        display: none;
        position: absolute;
        top: 46px;
        right: 0;
        width: 200px;
        // border-left: 1px solid #d8d8d8;
        // border-right: 1px solid #d8d8d8;
        // box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
        &:hover{
          display: block;
        }
    
        li {
          background-color: #f0f0f0;
          a {
            display: block;
            padding: 10px 20px;
            text-align: left;
            border-bottom: 1px solid #d8d8d8;
          }
        }
      }
      }
   }





 .user_image {
          margin-left:auto;
          width: 90px;
          height: 90px;
          overflow: hidden;
          border-radius: 90px;
          border-color: $mizuiro;
          border-width: 3px;
       
          
        }
        

 
 .poster_image {
          float:left;
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 60px;
          border-color: $mizuiro;
          border-width: 3px;
          
        }
        
 .your_icon_image{
        
            width:auto;
            height:auto;
            max-width:100%;
            max-height:100%;
            
        }

 .anonimous_image{
               width:auto;
            height:auto;
            max-width:100%;
            max-height:100%;
 }




// 左のカテゴリのCSS

#menu {
  float: left;
  display: block;
  margin: 0  0;
    
}


#container {
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}

.treemenu {
  float: right;
  width: 256px;
  border-right: 1px solid #ccc;
}
/*階層1*/
.treemenu .lv1btn {
  cursor: pointer;
  font-size:20px;
  padding: 5px 10px;
  color: $mizuiro;
  &:hover{
    color:$black;
  }
  
}
.treemenu .lv1body {
  display: none;
  padding: 0 10px 5px 10px;
}
.treemenu .lv1body a {
  line-height: 2.0;
}
/*階層2*/
.treemenu .lv1body .lv2btn {
  cursor: pointer;
  padding: 5px 10px 5px 0;
  
}
.treemenu .lv1body .lv2body {
  display: none;
  padding: 0 10px 5px 10px;
  
}
.treemenu .lv1body .lv2body a {
  line-height: 2.0;
}




//















@media (max-width: 1500px){
#index{
  float:left;
}
}


@media (min-width: 1501px){
  
  #index{
    float:left;
  }
}


.oyabody{
  margin: 20px;

}

.clearfix:after {
  clear : both;
  content: "";
  display: block;
  
}




.post_head_foot{
  background-color: #D9E5FF;
  padding: 10px;
  border-radius: 15px;
  
  
  h2.title{
    border-radius: 15px;
    background-color: #FFEEFF;
  }
  
  :after{
    clear:both;
    content:"";
    display:block;
  }
}

.render_post {
    margin: 0px 50px 30px;
    padding: 30px 30px 50px 30px ;
    border-width: 1;
    border-color: $mizuiro;
    border-style: solid;
    border-radius: 10px;
    width: 800px;
    h3 {
      font-size: 20px;
    }
}


#posts_title{
  font-size: 24px;
}









// ユーザーページのユーザー情報について

.contentsrow{
 
 
 //ここから吹き出し
   .fukidashi {
 	position: relative;
	display: block;
 	margin: 0,auto;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #FFF;
 	border: solid 3px #555;
 	box-sizing: border-box;
 	border-radius: 10px;
 	
}

.fukidashi:before{
	content: "";
	position: absolute;
	top: -24px;
	left: 50%;
 	margin-left: -15px;
	border: 12px solid transparent;
	border-bottom: 12px solid #FFF;
 	z-index: 2;
}

.fukidashi:after{
	content: "";
	position: absolute;
	top: -30px;
	left: 50%;
 	margin-left: -17px;
	border: 14px solid transparent;
	border-bottom: 14px solid #555;
 	z-index: 1;
}

.fukidashi p {
	margin: 0;
	padding: 0;
}

//ここまで吹き出し
}


.mannnaka{
  text-align:center;
  line-height: 15px;
  font-size: 20px;
}



// post#showページ

.comment_container{
  width: 900px;
   margin: 0px 50px 30px;
    padding: 30px;
}








.like-button_already{
                 
      width: 55px;
      height: 55px;
      background: url("/images/iine_icon.jpeg") left top no-repeat;
}


.like-button_yet{
     
      width: 55px;
      height: 55px;
      background: url("/images/iine_icon_notyet.jpeg") left top no-repeat;
}


textarea{
  height:150px;
}


.comments{
  
}

#comment{ 
  // clear: both;
  
  
}

footer {
  clear: both;
  
}



// 並び替えドロップダウンメニュー
.nav {
  width: 750px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.nav li {
  position: relative;
  list-style: none;
}
.nav li a {
  display: block;
  width: 200px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  background: #9fb7d4;
  transition: 0.5s;
  text-decoration: none;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.nav > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
.nav > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
}
.nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
  transition: 0.2s;
}
.nav li ul li a {
  border-top: 1px solid #eee;
}
.nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
//   .nav li ul li ul {
//     top: 0;
//     left: 110px;
//   }
//   .nav li ul li ul:before {/*layer-2▷*/
//     position: absolute;
//     content: "";
//     top: 15px;
//     left: 30px;
//     border: 5px solid transparent;
//     border-left: 5px solid #fff;
//   }
//   .nav li ul li ul li:hover > a {/*layer-3*/
//     color: pink;
//     background: #afc6e2;
//   }
//   .nav li ul li ul.left {
//     top: 0;
//     left: -190px;
//   }
//   .nav li ul li ul.left:before,/*layer-2-left▷*/
//   .nav li ul li ul li ul.left:before {/*layer-3-left▷*/
//     position: absolute;
//     content: "";
//     top: 15px;
//     left: 190px;
//     border: 5px solid transparent;
//     border-right: 5px solid #fff;
//   }
//   .nav li ul li ul.left li:hover > a {/*layer-2-left*/
//     color: pink;
//     background: #afc6e2;
//   }
//   .nav li ul li ul li ul.left li:hover > a {/*layer-3-left*/
//     color: purple;
//     background: #afc6e2;
//   }
// .content {
//   width: 750px;
//   height: 200px;
//   background: #eee;
//   margin: 0 auto;
//   padding: 10px;
//   text-align: left;
//   box-sizing: border-box;
// }
